.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  position: relative;
  background-color: $light-gray;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
  // background-size: cover;
  .chunk {
    position: absolute;
    color: #fcfcfc;
    @include user-select(none);
  }
  .card-content {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  &.clickable {
    cursor: pointer;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

}

.card-edit {
  position: relative;
}
